
<ion-header>
  <ion-toolbar class="toobar" >  
      <ion-item style="--background: rgb(110, 199, 110);" >
        <ion-icon name="Person" color="primary"></ion-icon>
        <ion-label class="input" (click)="newpost()" > ສ້າງໂຄສະນາ</ion-label>
      </ion-item>    
  </ion-toolbar>
 
</ion-header>
<ion-content class="content" [fullscreen]="true">                
 
      <ion-card class="card">
        <ion-item class="item" lines="none">
          <ion-icon name="Person" color="primary"slot="start"></ion-icon>
          <ion-label>ກຸ່ມທີ : 1</ion-label>
          <ion-label slot="end" class="dote" (click)="editpost()" >
            <ion-icon  slot="" ios="ellipsis-horizontal" md="ellipsis-Vertical"></ion-icon>            
          </ion-label>    
        </ion-item>
      
        <ion-card-content>                  
         <ion-label >ກຸ່ມຂາຍຜັກສົດ.</ion-label>
          <img class="imagepost"src="./../../assets/icon/vegetable.jpg" alt="">
          
        </ion-card-content>       
      </ion-card>
      <ion-card class="card">
        <ion-item class="item">
          <ion-icon name="Person" color="primary"slot="start"></ion-icon>
          <ion-label>ກຸ່ມທີ : 2</ion-label>
          <ion-label slot="end" class="dote">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-label>    
        </ion-item>
      
        <ion-card-content>                  
         <ion-label >ກຸ່ມຂາຍໝາກໄມ້.</ion-label>
          <img class="imagepost"src="./../../assets/icon/fruit.jpg" alt="">
        </ion-card-content>       
      </ion-card>
      <ion-card class="card">
        <ion-item class="item">
          <ion-icon name="Person" color="primary"slot="start"></ion-icon>
          <ion-label>ກຸ່ມທີ : 3</ion-label>
          <ion-label slot="end" class="dote">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-label>    
        </ion-item>
      
        <ion-card-content>                  
         <ion-label >ກຸ່ມຂາຍສັດລ້ຽງ.</ion-label>
          <img class="imagepost"src="./../../assets/icon/animal.jpg" alt="">
        </ion-card-content>       
      </ion-card>
      <ion-card class="card">
        <ion-item class="item">
          <ion-icon name="Person" color="primary"slot="start"></ion-icon>
          <ion-label>ກຸ່ມທີ : 4</ion-label>
          <ion-label slot="end" class="dote">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-label>    
        </ion-item>
      
        <ion-card-content>                  
         <ion-label >ກຸ່ມຂາຍຜັກສົດ.</ion-label>
          <img class="imagepost"src="./../../assets/icon/vegetable.jpg" alt="">
        </ion-card-content>       
      </ion-card>   
  
 
</ion-content>

